# .env
ERNIE_API_KEY="xxx"
MODELSCOPE_API_KEY="xxx"
ZHIPUAI_API_KEY="xxx"
GM_API_KEY="xxx"
OR_API_KEY="xxx"
NV_API_KEY="xxx"
# PROMPT_PERSON='（说明："我"、"小李"等指代均统一视为其全名 **李耀**）'
# START=1
# END=100
# CHUNK_SIZE=65536
# BATCH_NUM=8


# TEXT_PROVIDER="ollama"

TEXT_PROVIDER="openai"

# NV
# TEXT_MODEL="qwen/qwen3-next-80b-a3b-thinking"

TEXT_MODEL="Qwen/Qwen3-30B-A3B-Instruct-2507"
# TEXT_MODEL="Qwen/Qwen3-235B-A22B-Instruct-2507"
# TEXT_MODEL="deepseek-ai/DeepSeek-V3.2-Exp"
TEXT_API_KEY=""
TEXT_API_BASE="https://api-inference.modelscope.cn/v1"

# TEXT_MODEL="GLM-4.5-Flash"
# TEXT_API_KEY=""
# TEXT_API_BASE="https://open.bigmodel.cn/api/paas/v4"