# .env
ERNIE_API_KEY="xxx"
MODELSCOPE_API_KEY="xxx"
ZHIPUAI_API_KEY="xxx"
GM_API_KEY="xxx"
OR_API_KEY="xxx"
NV_API_KEY="xxx"
# PROMPT_PERSON='（说明："我"、"小李"等指代均统一视为其全名 **李耀**）'
# PROMPT_POLYPHONIC='和人参相关的词语如：千年参皇，参读shen1; 地名：长新街，长读chang2; 表示动作：长出一口气,长读chang2；姓氏场景：“查先生” ,查读zha1'


# START=1
# END=20
# CHUNK_SIZE=65536
# # CHUNK_SIZE=3500
# BATCH_NUM=4


# NV
# TEXT_MODEL="qwen/qwen3-next-80b-a3b-thinking"
# TEXT_MODEL="moonshotai/kimi-k2-instruct-0905"
# TEXT_MODEL="deepseek-ai/deepseek-v3.1-terminus"
# TEXT_MODEL="deepseek-ai/deepseek-v3.1" # 一般
# TEXT_MODEL="bytedance/seed-oss-36b-instruct" # 不错
# TEXT_MODEL="openai/gpt-oss-120b"

# TEXT_MODEL="Qwen/Qwen3-Next-80B-A3B-Instruct"
# TEXT_MODEL="Qwen/Qwen3-30B-A3B-Instruct-2507"
# TEXT_MODEL="Qwen/Qwen3-235B-A22B-Instruct-2507"
# TEXT_MODEL="deepseek-ai/DeepSeek-V3.2-Exp"
# TEXT_API_KEY="xxx"
# TEXT_API_BASE="https://api-inference.modelscope.cn/v1"

# TEXT_MODEL="GLM-4.5-Flash"
# TEXT_API_KEY="xxx"
# TEXT_API_BASE="https://open.bigmodel.cn/api/paas/v4"

# # TEXT_MODEL="x-ai/grok-4.1-fast:free"
# TEXT_MODEL="openai/gpt-oss-20b:free"
# TEXT_API_KEY="xxx"
# TEXT_API_BASE="https://openrouter.ai/api/v1/"

# TEXT_MODEL="ernie-4.5-turbo-128k-preview"
# TEXT_API_KEY="xxx"
# TEXT_API_BASE="https://aistudio.baidu.com/llm/lmapi/v3"