# DEVICE=cuda or mps
# MODEL="yolo26n-face.pt"
# ROOT_PATH="/Volumes/Documents/" 
# GAP_START=3
# GAP_STEP=1
# GAP_MAX=1
# DEPTH_MAX=0
# START=5
# START_FROM="/Volumes/Documents/2019/DSC09378.JPG"
# MAX_FACE_NUM=3
# EXCLUDE_DIRS='folder1,folder2,"foo,bar"'
# INCLUDE_DIRS='folder1,folder2,"foo,bar"'

# CONFIDENCE=0.8

# DEBUG=1